<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>cards</title>
  <link rel="stylesheet" href="../style/bootstrap.css">
</head>

<body>
  <div class="container">
    <div class="row mt-5 ml-1 mr-1">
      <div class="col-6">
        <h2>
          <span class="badge badge-secondary">Notes list

          </span>
        </h2>

      </div>
      <div class="col-6 text-right">
        <a href="/notes"><button type="button" id="addButton" class="btn btn-success badge-pill">add Note</button></a>

        <a href="/lists"><button type="button" id="addButtonList" class="btn btn-info badge-pill">add List</button></a>

      </div>
    </div>
    <div class="row mt-3" id="noteList">

      <% notes.forEach((el)=>{  if(!el.list) {%>

      <div class="col-lg-4">
        <div class="card bg-warning m-3">
          <div class="card-body" style="cursor: pointer" data-id="<%= el.id %>">
            <div class="text-right">
              <button type="button" class="btn btn-danger alert-link badge-pill" data-id="<%= el.id %>">X</button>
            </div>
            <h3 class="card-title alert-link"><%= el.title%></h3>
            <h4 class="card-text"><%= el.text %></h4>
            <button class="btn btn-primary badge-pill edit-btn" data-id="<%= el.id %>">Edit</button>
          </div>
        </div>
      </div>
      <% }else {%>
      <div class="col-lg-4">
        <div class="card bg-info m-3">
          <div class="card-body list-card" style="cursor: pointer" data-id="<%= el.id %>">
            <div class="text-right">
              <button type="button" class="btn btn-danger alert-link badge-pill" data-id="<%= el.id %>">X</button>
            </div>
            <h3 class="card-title alert-link"><%= el.title%></h3>
            <h5 id="list-task" class="card-text">
              <% el.text.forEach((e) => { %>
              <li class="list-item" data-id="<%= el.id %>"><%= e %></li>
             <% }) %>
            </h5>
            <button class="btn btn-primary badge-pill edit-list-btn" data-id="<%= el.id %>">Edit</button>
          </div>
        </div>
      </div>
      <%} })%>

    </div>
  </div>

  <script src="../script/index.js"></script>
</body>

</html>